<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just a Dram</title>
</head>
<body>
  <div class="altered-buttons">
    <div class="delete-button">
        <form method="POST" action="/whiskies/<%= whisky._id %>?_method=DELETE">
            <button type="submit">Delete</button>
        </form>
    </div>
    <div class="edit-button">
        <!-- Edit Button goes here -->
    </div>
  </div>
</body>
</html>