<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just a Dram</title>
</head>
<body>
    <h1>Just a Dram</h1>
    <h3>Landing Page</h3>
</body>
</html>