<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/landing.css" />
    <title>Just a Dram</title>
  </head>
  <body>
    <section class="landing-content">
      <div class="glencarien">
        <img
          src="/images/Glencarien Glass.jpeg"
          width="150px"
          height="150px"
          alt="glencarien glass"
        />
      </div>
      <div class="landing-header">
        <h1>Just a Dram</h1>
        <h3>Taste. Record. Review</h3>
      </div>
      <div class="landing-text">
        <p>
          A digital journal for whisky ethusiasts to record and share their
          tasting experiences.
        </p>
      </div>
      <a class="landing-link" href="/whiskies">ENTER</a>
    </section>
    <section class="landing-img">
      <img class="rickhouse" src="/images/rickhouse.jpg" alt="rickhouse" />
    </section>
  </body>
</html>
