<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just a Dram</title>
</head>
<body>
    <h1>Get All Whiskies Page</h1>
    <% whiskies.forEach(whisky => { %> 
        <div class="whisky-card">
            <img src="<%= whisky.whiskyImg %>" alt="whisky bottle pic">
        </div>
    <% }) %>
</body>
</html>