<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just a Dram</title>
</head>
<body>
    <%- include("../partials/nav") %>
    <section class="all-whiskies">
        <% whiskies.forEach(whisky => { %> 
            <div class="whisky-card">
                <a href="/whiskies/<%= whisky._id %>"><img src="<%= whisky.whiskyImg %>" alt="whisky bottle pic"></a>
            </div>
        <% }) %>
    </section>
</body>
</html>