body {
    flex-flow: column wrap;
}

h1 {
    font-family: "Garamond", "Baskerville", serif;
    color:#540B0E;
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    margin: -15px 0 60px;
}

.edit-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;;
}

.field-section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    /* width: 96vw; */
}

.show-img {
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    /* width: auto; */
    height: 351.8px;
}

.img-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

img {
    border-radius: 5px;
}

input {
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 0 7px 6px rgba(0, 0, 0, .25);
    background-color: #F2EDED;
    padding: 5px;
    text-align: center;
    padding: 15px 60px;
    font-size: 24px;
    width: 350px;
}

textarea {
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 0 7px 6px rgba(0, 0, 0, .25);
    background-color: #F2EDED;
    padding: 5px;
    text-align: center;
    font-size: 24px;
}


.text-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 8px;
}

.update-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;    
}

button {
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #F2EDED;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    font-family: "Garamond", "Baskerville", serif;
    color: #540B0E;
    font-size: 22px;
    font-weight: bold;
    padding: 5px 10px;
}

button:hover {
    background-color: #540B0E;
    color: #F2EDED;
}