body {
    flex-direction: column;
}

.all-whiskies {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.whisky-card {
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 0 7px 6px rgba(0, 0, 0, .25);
}

img {
    width: 350px;
    height: 480px;
    border-radius: 5px 5px 0 0;
}

.card-link {
   background-color: #FEFAE0;
}

.card-link:hover {
    text-decoration: none;
}

.card-text {
    display:flex;
    justify-content: center;
    align-items: center;
    color: #540B0E;
    background-color: #FEFAE0;
    letter-spacing: 1px;
    border-radius: 0 0 5px 5px;
    height: 150px;
}

.card-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 350px;
}