body{
    flex-direction: column;
}

header{
    margin: 10px, 0, 50px;
    
}

.all-whiskies{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.whisky-card{
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

img{
    width: 150px;
    height: 250px;
    border-radius: 5px;
}