.landing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.glencarien {
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.landing-header {
    font-family: "Garamond", "Baskerville", serif;
    color: #540B0E;
}

h1 {
    font-size: 42px;
    margin: 19px 0 2px;
}

h3 {
    font-size: 20px;
    margin-top: 2px;
}

.landing-text {
    font-size: 14px;
}

.landing-img{
    height: 100vh;
}


