body {
    flex-direction: column;
}

h1 {
    font-family: "Garamond", "Baskerville", serif;
    color: #540B0E;
    text-align: center;
    margin: -15px 0 60px;
}

.entry-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    background-color: #F2EDED;
    padding: 5px;
    text-align: center;
    width: 180px;
}

textarea {
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    background-color: #F2EDED;
    padding: 5px;
    text-align: center;
}

input::placeholder {
    color: #000000;
}

textarea::placeholder {
    color: #000000;
}

#whiskyImg {
    width: 250px;
}

.text-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.name-field {
    align-self: center;
}

.distillery-field {
    align-self: center;
}

.whisky-type-field {
    align-self: center;
}

.origin-field {
    align-self: center;
}

.age-field {
    align-self: center;
}
.proof-field {
    align-self: center;
}

.abv-field {
    align-self: center;
}

.hue-field {
    align-self: center;
}

.form-button {
    display: flex;
    gap: 50px;
}

